---
---

@import "{{ site.theme }}";

/* GLOBAL OVERRIDES*/
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Helvetica, 'Lucida Grande', 'Calibri', Arial, sans-serif;
    letter-spacing: 0;
    line-height: 1.1;
    color: #333;
}

h1 {
    font-size: 32px;
}

a {
    color: #B94650;
    text-decoration: underline;
}

/* HEADER OVERRIDES */

#top_header {
    background-color: #f4f0ec;
    padding: 5px 10px;
}

#top_header img {
    float: left;
    padding-right:15px;
    border: 0;
    box-shadow: none;
}

#forkme_banner {
    background: url(../images/blacktocat.png) #444 no-repeat 95% 50%;
}

#header_wrap {
    height: 260px;
    background: url("/accessible-ecommerce/assets/images/ps-header2.gif") repeat-x;
}

#main_content_wrap {
    background: #f4f0ec;
}

#main_content {
    padding-top: 20px;
}

#main_content h2 {
    padding-bottom: 20px;
}
