---
---

@import "{{ site.theme }}";

/* GLOBAL OVERRIDES*/
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, 'Lucida Grande', 'Calibri', Arial, sans-serif;
    letter-spacing: 0;
}

a {
    color: #c15d66;
}

/* HEADER OVERRIDES */

#forkme_banner {
    background: url(../images/blacktocat.png) #444 no-repeat 95% 50%;
}

/*#header_wrap {
  background: url("/accessible-ecommerce/assets/images/ps-header2.gif") repeat-x;
}*/
