---
---

@import "{{ site.theme }}";

/* GLOBAL OVERRIDES*/
h1, h2, h3, h4, h5, h6 {
    font-family: Garamond, Georgia, Times, Palatino, serif;
    letter-spacing: 0;
    line-height: 1.1;
    color: #333;
    padding-top: 10px;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}

a {
    color: #B94650;
    text-decoration: underline;
}

blockquote {
    color: #f4f0ec;
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #bbb;
    background-color: #444;
    font-family: helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;
}

li {
    padding-bottom: 5px;
}

/* HEADER OVERRIDES */

#top_header {
    background-color: #f4f0ec;
    padding: 5px 10px;
}

#top_header img {
    float: left;
    border: 0;
    box-shadow: none;
    float: left;
    padding: 0 15px 0 0; 
    top: -4px;
}

#top_header a {
    color: #333;
    text-decoration: none;
}

.site_name {    
    font-family: Georgia, Times, Palatino, serif;
    Font-size: 22px;
    font-weight: 600;
    line-height: 1.1;
    padding: 10px 0;
}

#forkme_banner {
    background: url(../images/blacktocat.png) #444 no-repeat 95% 50%;
}

#header_wrap, #banner_wrap_home {
    height: 260px;
    background: url("/accessible-ecommerce/assets/images/ps-header2.gif") repeat-x;
}

#banner_wrap_post {
    height: 88px;
    background: url("/accessible-ecommerce/assets/images/ps-header-thin.gif") repeat-x;
}

#main_content_wrap {
    background: #f4f0ec;
}

#main_content {
    padding-top: 20px;
}

#main_content h2 {
    padding-bottom: 20px;
}
