---
layout: default
---

    <!-- HEADER -->
<div id="top_header">
    <a href="{{ site.url }}">
    <img src="/accessible-ecommerce/assets/images/ps-logo.gif" alt="Publicis.Sapient logo" width="50" height="50">
        <p class="site_name">{{ site.title | default: site.github.repository_name }}</p></a>
    <!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->
</div>

    <div id="banner_wrap_post" class="outer">
        <header class="inner">
          <!--<a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>-->

          <!--<h1 id="project_title">{{ post.title | default: site.github.repository_name }}</h1>-->

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
          <h1>{{ page.title }}</h1>
        {{ content }}
      </section>
    </div>

    <!-- COMMENTING -->
    {% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://p-s-toronto-accessible-demo-store.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

    
